:root {
  --c-brand: #4a78f7;
  --c-brand-light: #5688ff;
  --docsearch-primary-color: #4a78f7;
}
.nav-bar-title {
  text-indent: -9999px;
  width: 175px;
  height: 37px;
  background: url(/logo.png);
  background-size: cover;
}
.DocSearch {
  --docsearch-primary-color: var(--docsearch-primary-color) !important;
  --docsearch-highlight-color: var(--docsearch-primary-color) !important;
}

p > img {
  display: block;
  margin: 0 auto;
  width: 100%;
}